body,
html {
  background: #3d3e50;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
  color: white;
}

.bg {
  position: fixed;
  display: none;
  z-index: -1;
  min-width: 100vw;
  min-height: 100vh;
}

.navbar {
  z-index: 100;
  background: #3d3e50 !important;
  width: 100%;
  position: fixed;
  top: 0;
  a {
    color: white !important;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    text-decoration: none;
  }

  a:hover {
    color: #eb4f21 !important;
  }
}
h1 {
  margin: 30px 0;
}
p {
  max-width: 60ch;
}

video{
  margin: 50px;
  height: 500px;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.flex {
  display: flex;
}

.text-center {
  text-align: center;
}

.w-full {
  width: 100%;
}

td {
  border: 1px solid #777;
  border-collapse: collapse;
  padding: 10px 20px;
}

.contact {
  display: flex;
  align-items: center;
  color: #f5b132;


  p{
    margin: 0;
    font-size: 1.2rem;
  }
  
  img {
    height: 35px;
    margin: 5px;
    transition: 300ms;

    &:hover {
      scale: 1.2;
    }
  }
}

section {
  min-height: 100vh;
  padding-top: 60px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100%;
  max-width: 1600px;
  max-height: none;
  overflow: hidden;
}

#home {
  h2 {
    color: #f5b132;
  }

  h1 {
    font-size: 4rem;
  }

  img {
    max-height: 600px;
  }
}

.home2 {
  padding: 50px;
  gap: 20px;
}

#about {
  position: relative;

  img {
    max-width: calc(18% - 10px);
    transition: 500ms ease-in-out;

    &:hover {
      cursor: pointer;
      transform: scale(1.05);
    }
  }
}

.about2 {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.exp1 {
  display: flex;

  img {
    height: 250px;
    width: auto;
  }

  li {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

#education {
  ol li {
    padding: 30px;
  }

  ul li {
    padding: 10px;
  }

  img {
    max-height: 300px;
  }
}

#family {
  img {
    height: 300px;
    margin: 20px;
  }

  .fam1 {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  p {
    padding: 30px;
  }
}

#gallery {
  img-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  img {
    max-height: 600px;
    max-width: 500px;
    margin: 3px;
    transition: 400ms ease-in-out;

    &:hover {
      cursor: pointer;
      scale: 1.02;
    }
  }
}

footer {
  margin: 15px;
  padding: 20px 0 0 0;

  width: 100%;
  text-align: center;
  border-top: 1px solid #fff;
  font-weight: 200;
}
